body
{
    background-image: url(Images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    margin: 0px;
    padding: 0px;
}

header
{
    width: 100%;
    height: 75px;
    background-color: #160d1a;
}

footer
{
    width: 100%;
    height: 75px;
    background-color: #160d1a;
}

#Title
{
    height: 150px;
    font-size: 100px;
    text-align: center;
    color: #c3e0e6;
}

.SubTitle
{
    font-size: 25px;
    text-align: center;
    color: #a3c1cc;
    
}

.Content
{
    font-size: 18x;
    text-align: center;
    color: #86a3b3;
}

.HorizontalStretch
{
    width: 100%;
}

.VerticalGroup
{
    flex: content;
    flex-direction: column;
    width: 100%;
}

.HorizontalGroup
{
    display: flex;
}

.FlavorImage
{
    float: left;
    width: 75px;
}

.FlavorSummary
{
    font-size: 18x;
    text-align: center;
    color: #86a3b3;
}