body
{
    background-image: url(Images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    margin: 0px;
    padding: 0px;
}

header
{
    width: 100%;
    height: 75px;
    background-color: #160d1a;
    position: fixed;
}

hr
{
    height: 5px;
    background-color: #536980;
    border-width:0;
    margin: 10px 5px;
}

.TitleSection
{
    height: 100px;
    text-align: center;
}

.LargeTitle
{
    font-size: 100px;
    font-weight: bold;
    color: #c3e0e6;
}

.Spacer
{
    height: 75px;
}

footer
{
    width: 100%;
    height: 75px;
    background-color: #160d1a;
}

.FlavorContainer
{
    display: grid;
    grid-template-areas: 
    'icon icon'
    'header header'
    'description description'
    'mainAttack aimedAttack'
    'main aimed'
    'mainDescription aimedDescription'
    'abilities abilities'
    'activeTitle passiveTitle'
    'active passive';
    gap: 10px 50px;
    padding: 10px;
}

.Centered
{
    text-align: center;
}

.Title
{
    font-size: 40px;
    font-weight: bold;
    color: #c3e0e6;
}

.Text
{
    font-size: 25px;
    color: #a3c1cc;
}

.SmallIcon
{
    height: 150px;
    width: 150px;
}

.LargeIcon
{
    height: 200px;
    width: 200px;
}

.List
{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.FlavorIcon 
{ 
    grid-area: icon; 
}
.FlavorHeader { grid-area: header; }
.FlavorDescription { grid-area: description; }
.ActiveTitle { grid-area: activeTitle; }
.PassiveTitle { grid-area: passiveTitle; }
.Active { grid-area: active; }
.Passive { grid-area: passive; }
.MainAttack { grid-area: mainAttack; }
.AimedAttack { grid-area: aimedAttack; }
.Main { grid-area: main; }
.Aimed { grid-area: aimed; }
.MainDescription { grid-area: mainDescription; }
.AimedDescription { grid-area: aimedDescription; }
.Abilities { grid-area: abilities; }